<div class="card">

    <div class="card-header">
        <div class="logo">
            <img src="../images/lscs.png" />
        </div>
        <div class="header-title">
            <a href="/org-feed/events" id="nav_link"><b>{{accountName}}</b></a><br />
            <p class="details"> <strong> Posted on: </strong> {{createdAt}}</p>
            <p class="details"><strong> Type: </strong> Event</p>
            <p class="details"> <strong> Date of event: </strong> {{eventDate}} </p>
        </div>
    </div>

    <div class="container">
        <div class="attachment">
            {{#if image}}
                <img src="./images/{{image}}" width="300" />
            {{/if}}
        </div>
        <div class="caption">
            <p>{{content}}</p>
        </div>
    </div>

    <div class="actions">
        <div class="action-btn">
            <button><i class="fa-solid fa-thumbs-up" background-color=""></i>
                    &nbsp;{{likes.length}}
                    LIKES</button>
        </div>
        <div class="action-btn">
            <form action="/edit/{{_id}}" method="post">
                <button type="submit"><i class="fa-solid fa-pen"></i>
                    &nbsp;EDIT</button></form>
        </div>
            <form action="/delete/{{_id}}" method="post">
        <div class="action-btn">
            <button type="submit"><i class="fa-solid fa-trash"></i>
                &nbsp;DELETE</button>
                </form>
        </div>
    </div>

</div>