<div class="card">

    <div class="card-header">
        <div class="logo">
            {{#if image}}
            <img src="./images/{{image}}" />
            {{else}}
            <img src="../images/org_user.png" alt="" />
            {{/if}}
        </div>
        <div class="header-title">
            <a href="/org-feed/" id="org_name"><b>{{accountName}}</b></a><br />
            <p class="details"> <strong> Posted on: </strong>{{date}} </p>
            <p class="details"><strong> Type: </strong> Post</p>

        </div>
    </div>

    <div class="container">
        <div class="attachment">
            {{#if image}}
                <img src="./images/{{image}}" width="300" />
            {{/if}}
        </div>
        <div class="caption">
            <p>{{content}}</p>
        </div>
    </div>

    <div class="actions">
        <div class="inactivebtn">
            <button class="buttonDisabled" background-color="#888888"><i class="fa-solid fa-thumbs-up"></i>
                    &nbsp;{{likes.length}}
                    LIKES</button>
        </div>
        <div class="action-btn">
            <form action="/org-edit-post" method="post">
                <button type="submit"><i class="fa-solid fa-pen"></i>
                    &nbsp;EDIT</button></form>
        </div>
            <form action="/delete-post/{{_id}}" method="post">
        <div class="action-btn">
            <button type="submit"><i class="fa-solid fa-trash"></i>
                &nbsp;DELETE</button>
                </form>
        </div>
    </div>
</div>