<div class="card">

    <div class="card-header">
        <div class="logo">
            {{#if profile}}
            <img src="../images/uploads/{{profile}}" />
            {{else}}
            <img src="../images/org_user.png" alt="" />
            {{/if}}
        </div>
        <div class="header-title">
            <a href="/student-view-org/{{_id}}" id="org_name"><b>{{accountName}}</b></a><br />
            <p class="details"> <strong> Posted on: </strong>{{date}} </p>
            <p class="details"><strong> Type: </strong> Post</p>

        </div>
    </div>

    <div class="container">
        <div class="attachment">
            {{#if image}}
                <img src="./images/uploads/{{image}}" width="300" />
            {{/if}}
        </div>
        <div class="caption">
            <p>{{content}}</p>
        </div>
    </div>

    <div class="actions">
        <div class="action-btn">
            
            <form action="/like/{{_id}}" method="post">
                <button type="submit" id="like"><i class="fa-solid fa-thumbs-up" background-color=""></i>
                    &nbsp;{{likes.length}}
                    LIKES</button></form>
        </div>
        <script>
            
            const btn = document.getElementById('like');
            btn.onclick = changeColor();   

            function changeColor() {
                btn.style.backgroundColor = #E4C8B8;;
                btn.style.color = #1C4C3B;
                //return false;
            }
            
        </script>
        
        <div class="action-btn">
            <form action="/save/{{_id}}" method="post">
            <button type="submit" id="save"><i class="fa-solid fa-bookmark"></i>
                &nbsp;SAVE</button></form>
        </div>

        <script>

            const btn = document.getElementById('save');
            btn.onclick = changeColor();   

            function changeColor() {
                btn.style.backgroundColor = #E4C8B8;;
                btn.style.color = #1C4C3B;
                return false;
            }
            
        </script>
        
    </div>
</div>