<html lang="en">
    <head>
        <script src="https://kit.fontawesome.com/dfcf57d1e4.js" crossorigin="anonymous"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="../css/styleForStudentSettings.css" />
        <title>Page Settings</title>
    </head>
    <body>
        <div class="container1">
            <div class="box1">
                <div class="left">
                    <div class="b1row1">
                        <img class="responsive" src="../images/logo_feed.png" alt="" />
                    </div>

                    <div class="b1row2">
                        {{#if user.image}}
                            <img class="responsive" src="../images/{{user.image}}" alt="" />

                        {{else}}
                            <img class="responsive" src="../images/org_user.png" alt="" />

                        {{/if}}
                    </div>
                </div>
                <div class="right">
                    <div class="b1row3">
                        <div class="name">
                            <h1>{{user.name}}</h1>
                        </div>

                        <div class="navigation">
                            <a class="button" href="/org-feed"><i
                                    class="fa-solid fa-user"
                                ></i>&nbsp; &nbsp; RETURN TO PROFILE</a><br />
                        </div>
                    </div>
                </div>
            </div>

            <div class="box2">
                <div class="b2row1">
                    <img class="responsive" src="../images/header.png" />
                </div>
                <div class="b2row2">
                    <!-- SYSTEM SETTINGS -->
                    <div class="card">
                        <div class="card-header">
                            <h2>SYSTEM SETTINGS</h2>
                            <br />
                        </div>
                        <div class="container">
                            <form action="/update-org-profile" onSubmit="return true" method="post">
                                <table class="table">
                                    <tr>
                                        <td><strong>NAME: </strong> </td>
                                        <td><input
                                                type="text"
                                                name="name"
                                                id="name"
                                                size="40"
                                                value="{{user.name}}"
                                            /></td>
                                    </tr>

                                    <tr>
                                        <td><strong>DLSU EMAIL: </strong> </td>
                                        <td><input
                                                type="text"
                                                name="email"
                                                id="email"
                                                size="40"
                                                value={{user.email}}
                                            /></td>
                                    </tr>

                                    <tr>
                                        <td><strong>PASSWORD: </strong> </td>
                                        <td><input
                                                type="text"
                                                name="password"
                                                id="password"
                                                size="40"
                                                placeholder="Please input your new password."
                                            /></td>
                                    </tr>

                                    <tr>
                                        <td colspan="2" align="right">
                                            <input
                                                type="submit"
                                                value="SAVE CHANGES"
                                                class="submit_button"
                                            /></td>
                                    </tr>
                                </table>
                            </form>
                            <br>
                            <br>
                            <form action="/delete-org-profile/{{user._id}}" method="post">
                                <input
                                    type="submit"
                                    value="DELETE ACCT."
                                    class="delete_button_org" 
                                    />
                            </form>
                        </div>
                    </div>

                </div>
            </div>

            <div class="box3">
                <div class="name">
                    <h1>ACCOUNT</h1>
                </div>
                <div class="b3row1">
                    <a class="button" href="/org-edit-profile"><i
                            class="fa-solid fa-user-pen"
                        ></i>&nbsp; &nbsp; EDIT PROFILE</a><br />
                    <a class="button" id="current" href="/org-settings"><i
                            class="fa-solid fa-gear"
                        ></i>&nbsp; &nbsp; PAGE SETTINGS</a><br />
                    <a class="button" href="/logout"><i
                            class="fa-solid fa-arrow-right-from-bracket"
                        ></i>&nbsp; &nbsp; LOG-OUT</a><br />
                </div>
                <div class="calendar_name">
                    <h1>YOUR CALENDAR</h1>
                </div>
                <div class="b3row2">
                    <iframe
                        class="calendar"
                        src="https://calendar.google.com/calendar/embed?src=c_5sjo26tm84vmof5ac5fq1dvu4k%40group.calendar.google.com&ctz=Asia%2FManila"
                        style="border: 0"
                        width="800"
                        height="600"
                        frameborder="0"
                        scrolling="no"
                    ></iframe>
                </div>
            </div>
        </div>

        <div class="container5" id="bottom">
            <div class="box5"><img src="../images/logo_footer.png" /> &nbsp;</div>

            <div class="box6">
                <p>
                    <i class="fa-solid fa-envelope-open"></i>
                    &nbsp; CONTACT US
                    <br />
                    <a
                        class="mail"
                        href="mailto:misael_marin@dlsu.edu.ph"
                    >misael_marin@dlsu.edu.ph</a><br />
                    <a
                        class="mail"
                        href="mailto:criscela_racelis@dlsu.edu.ph"
                    >criscela_racelis@dlsu.edu.ph</a><br />
                    <a
                        class="mail"
                        href="mailto:jaira_millicent_santos@dlsu.edu.ph"
                    >jaira_millicent_santos@dlsu.edu.ph</a>
                </p>
            </div>
            <br />
            <div class="box7">
                <p class="title">
                    <i class="fa-solid fa-location-pin"></i>
                    &nbsp; WHERE TO FIND US
                    <br />
                </p>

                <p class="content">
                    Gokongwei Bldg., De La Salle University 2401 Taft Avenue, 1004 Manila,
                    Philippines
                </p>
            </div>
        </div>
    </body>
</html>